html {
  font-family: Arial, sans-serif;
}

#showTitle {
    text-align: center;
    padding: 20px;
    margin: 10px;
}

img {
    margin: auto;
    display: block;
}

#summary {
    line-height: 2;
    padding: 10px;
}

#genres::before {
    content: "Genres: ";
}

#genres {
    letter-spacing: 1px;
    padding: 10px;
}

a {
    padding: 10px;
}
